.section-map {
  padding-bottom: 180px;
  position: relative;
  &::before {
    content: 'V';

    right: calc(50% + 555px);
    transform: translate(+50%, 0%);
    line-height: 1;

    @include decorNumber;
  }
}
.section-map__title {
  margin-bottom: 88px;
}
.map {
  background: #626262;
  height: 358px;
}
